@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in-up-animation {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 0.15s ease forwards 0.15s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
